NODE_ENV=development
PORT=4000 # The port your server will listen on
HOST=localhost # Hostname for the server

# APP URLs
FRONTEND_URL=
BACKEND_BASE_URL=
DASHBOARD_BASE_URL=
ADMIN_BASE_URL=

# CORS Settings (separated by ;)
CORS_ORIGIN='https://byelow.net;https://api.byelow.net;https://app.byelow.net;https://admin.byelow.net;http://localhost:4000;http://localhost:3000'

# MongoDB Configuration
MONGO_URL=

# JWT Configuration
JWT_SECRET_KEY=
JWT_EXPIRES_IN=

# Bcrypt Configuration
BCRYPT_SALT_ROUNDS=

# REDIS
REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_DB=
REDIS_TLS=

# CLOUDINARY
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# GOOGLE OAUTH CREDENTIALS
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# BREVO SMTP
SMTP_SERVER=
SMTP_PORT=
SMTP_LOGIN=
SMTP_PASSWORD=
SMTP_FROM_EMAIL_NO_REPLY=no-reply@byelow.net
SMTP_FROM_NAME=Byelow

# dataforseo credentials
DATAFORSEO_LOGIN=
DATAFORSEO_PASSWORD=

# ANALYSIS CONTROLS
DOMAIN_ANALYSIS_CACHE_TTL_DAYS=30