NODE_ENV=development.docker
PORT=4000
HOST=0.0.0.0

# APP URLs (dev, Docker)
FRONTEND_URL=http://localhost:3000
BACKEND_BASE_URL=http://localhost:4000
DASHBOARD_BASE_URL=http://localhost:3000
ADMIN_BASE_URL=http://localhost:3000

# CORS Settings
CORS_ORIGIN='http://localhost:3000;http://localhost:4000'

# MongoDB Configuration (Docker dev service)
MONGO_URL=mongodb://mongo_db:27017/byelow

# JWT Configuration
JWT_SECRET_KEY=change-me
JWT_EXPIRES_IN=1d

# Bcrypt Configuration
BCRYPT_SALT_ROUNDS=10

# REDIS (Docker dev service)
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_DB=
REDIS_TLS=false

# AI Service URL (inside Docker dev network)
AI_SERVICE_URL=http://ai-service:8000

# CLOUDINARY
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# GOOGLE OAUTH CREDENTIALS
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# BREVO SMTP
SMTP_SERVER=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_LOGIN=
SMTP_PASSWORD=
SMTP_FROM_EMAIL_NO_REPLY=no-reply@byelow.net
SMTP_FROM_NAME=Byelow

# dataforseo credentials
DATAFORSEO_LOGIN=
DATAFORSEO_PASSWORD=

# ANALYSIS CONTROLS
DOMAIN_ANALYSIS_CACHE_TTL_DAYS=

