NODE_ENV=
PORT= # The port your server will listen on
HOST= # Hostname for the server
FRONTEND_URL=
UNIFY_BACKEND_BASE_URL=

# CORS Settings
CORS_ORIGIN=
# Rate Limiting
COMMON_RATE_LIMIT_WINDOW_MS= # Window size for rate limiting (ms)
COMMON_RATE_LIMIT_MAX_REQUESTS= # Max number of requests per window per IP
# MongoDB Configuration
MONGO_URL=
# JWT Configuration
JWT_SECRET_KEY=
JWT_EXPIRES_IN=
# Bcrypt Configuration
BCRYPT_SALT_ROUNDS=

# REDIS

REDIS_HOST= 
REDIS_PORT=
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_DB=
REDIS_TLS=false # Keep it false for local redis server

# SCHEDULING
MAIN_SCHEDULER_INTERVAL_IN_MINUTES=
SCHEDULED_POSTS_MAX_RETRIES=
CONCURRENCY_LIMIT=

# CLOUDINARY
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# BLUESKY
BLUESKY_PRIVATE_KEY=
BLUESKY_KEY_ID=

# SMTP configuration options for the email service
SMTP_SERVICE=
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
EMAIL_FROM=

# GOOGLE OAUTH CREDENTIALS
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# PINTEREST OAUTH CREDENTIALS
PINTEREST_CLIENT_ID=
PINTEREST_REDIRECT_URI=
PINTEREST_CLIENT_SECRET=

# CLOUDFLARE R2 CREDENTIALS
R2_BUCKET_URL=
R2_BUCKET_NAME=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=

